


<!-- BOTTOM NAV BAR-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text" href="#">&copy; ALL RIGHTS RESERVED       |      RUN ON Heroku/EXPRESS.JS : BY SUHAIB</h6>
  </nav>

