<!--views/pages/about.ejs-->
<!--SUHAIB SIDDIQUI-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/Content/app.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/fortawesome/fontawesome-free/css/all.min.css"/>
    <title>100784227</title>
    
    </head>

    <body>
      
   
      
  


         <%#This is the Content Below%>




    <main>    
      <%- include('./header.ejs') %> 
        <div class="HELLO WORLD THIS IS HOME PAGEE">
            <h1 class="display-4">MAIN PROJECTS/PORTFOLIO</h1>
            <p class="lead">This is Projects Page, </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/aboutme" role="button"> Learn more</a>
            </p>
            
         
          </div>
          <center>
            <b>SUHAIB NIHAD SIDDIQUI PORTFOLIO  </b>
            
            <b style="background-color: aqua;"">Azure Screenshots </b>
            <img src="/images/Screenshot (62).png" class="mx-auto d-block"/>
            <b style="background-color: aqua;"">Stopping AN AWS EC2</b>
            <img src="/images/Screenshot (70).png" class="mx-auto d-block"/>
            <b style="background-color: aqua;"">Cisco Packet Tracer Insanity</b>
            <img src="/images/Screenshot (72).png" class="mx-auto d-block">
            <b style="background-color: aqua;"">Self Made TicTacToe</b>
            <img src="/images/Screenshot (73).png" class="mx-auto d-block"/>
   
               </center>
               </main>
               <%- include('./footer.ejs') %>
              <script src="js/script/appjs"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
              <script src="/jquery/dist/jquery.min.js"/></script>

</body>
</html>